.investment-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.investment-container header {
  display: flex;
  align-items: center;
}

.investment-container header span {
  font-size: 30px;
  font-weight: bold;
  margin-left: 24px;
}

.investment-container header img {
  height: 64px;
}

.investment-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.investment-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}

.investment-container header button:hover {
  border-color: #999;
}

.investment-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.investment-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.investment-container ul li {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.investment-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
}

.investment-container ul li button:hover {
  opacity: 0.8;
}

.investment-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.investment-container ul li p + strong {
  margin-top: 32px;
}

.investment-container ul li p {
  color: #737380;
  line-height: 10px;
  font-size: 16px;
}

#graphic {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
  padding: 1px;
}
